pkgbase = medivia
	pkgdesc = Client for medivia.online mmorpg server.
	pkgver = 4.10
	pkgrel = 0
	url = https://medivia.online/download
	arch = x86_64
	license = unknown
	makedepends = chrpath
	makedepends = unzip
	depends = libglvnd
	noextract = medivia-4.10.zip
	source = medivia-4.10.zip::https://download.medivia.online/linux-build.zip
	source = medivia.desktop
	md5sums = 6319b15d7f7438d8de5cf25051142df0
	md5sums = e8a4875476e9d4db1ad862a188bf997e

pkgname = medivia

